@import "../../assets/scss/abstracts.init";

.find-us-block {
  $find-us-block: &;
  position: relative;
  padding: 40px 0 56px;

  @media only screen and (min-width: 1025px) {
    padding: 88px 0 116px;
  }

  .container {
    @include container-wrap;
    position: relative;
  }

  .content-row {
    margin-bottom: 48px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 64px;
    }

    &:first-child {
      margin-bottom: 200%;

      @media only screen and (min-width: 768px) {
        margin-bottom: 112%;
      }

      @media only screen and (min-width: 1025px) {
        margin-bottom: 57px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__large-text {
    color: $neutral-6;
    font-family: $montserrat;
    font-size: rem(32);
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 8px;

    @media only screen and (min-width: 1025px) {
      font-size: rem(40);
      line-height: 100%;
    }
  }

  &__heading {
    color: $blue-2;
    font-family: $montserrat;
    font-size: rem(48);
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media only screen and (min-width: 1025px) {
      font-size: rem(64);
    }
  }

  &__description {
    color: $neutral-6;
    font-size: rem(12);
    font-weight: 400;
    line-height: 160%;

    @media only screen and (min-width: 1025px) {
      font-size: rem(14);
    }
  }

  &__partners-heading,
  &__useful-links-heading,
  &__get-in-touch-heading {
    @include heading_medium_italic;
  }

  &__partners-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 440px;
    box-sizing: border-box;

    @media only screen and (min-width: 768px) {
      max-width: 100%;
    }

    @media only screen and (min-width: 1025px) {
      max-width: 440px;
    }

    &-item {
      background-color: $neutral-0;
      grid-column: span 1;
      height: 96px;
      outline: 1px solid $neutral-7;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 32px 16px;
      box-sizing: border-box;

      @media only screen and (min-width: 768px) {
        height: 120px;
      }
    }
  }

  &__useful-links {
    &-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 40px;
      list-style: none;
      margin: 0;
      padding: 0;

      @media only screen and (min-width: 768px) {
        align-items: center;
        flex-direction: row;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: 8px;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;

        @media only screen and (min-width: 1025px) {
          width: 48px;
          height: 48px;
        }
      }

      &-title {
        color: $neutral-6;
        font-family: $montserrat;
        font-size: rem(16);
        font-weight: 500;
        line-height: 140%;
      }
    }
  }

  &__get-in-touch {
    &-sub-text {
      margin-bottom: 28px;
      color: $neutral-5;
    }

    &-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 32px;
      margin: 0 0 32px;
      padding: 0 0 16px;

      > li {
        width: 100%;

        @media only screen and (min-width: 768px) {
          width: unset;
        }
      }

      @media only screen and (min-width: 768px) {
        flex-direction: row;
        column-gap: 40px;
        padding-bottom: unset;
        margin-bottom: 40px;
      }

      @media only screen and (min-width: 768px) {
        column-gap: 48px;
      }
    }

    &-item {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;
      color: $neutral-5;
      font-family: $montserrat;
      font-size: rem(14);
      font-style: normal;
      font-weight: 500;
      line-height: 160%;

      @media only screen and (min-width: 768px) {
        font-size: rem(16);
      }

      &--phone {
        span {
          white-space: nowrap;
        }
      }
    }

    #{$find-us-block} &-contact-us-btn {
      height: 56px;

      .button-block__label {
        font-size: rem(14);
      }
    }
  }

  &__map {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: right;

    &-bg {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("./images/map/bg-mobile.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;

      @media only screen and (min-width: 768px) {
        background-image: url("./images/map/bg-tablet.svg");
        background-position: left top;
      }

      @media only screen and (min-width: 1025px) {
        width: calc(50% + 494px);
        background-image: url("./images/map/bg.svg");
        background-size: 100% auto;
        background-position: right top;
      }

      @media only screen and (min-width: 1025px) and (max-width: 1512px) {
        background-size: 100% auto;
        background-position: left top;
      }
    }

    &-pin {
      $pin: &;
      position: absolute;
      width: 1px;
      height: 1px;

      &-btn {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 5;
        display: inline-flex;
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;

        .icon-pin {
          display: inline-block;
          vertical-align: top;
          background-image: url("./images/map/pin.icon.svg");
          background-repeat: no-repeat;
          width: 32px;
          height: 40px;
        }

        #{$pin}--active & {
          padding-bottom: 13px;
          animation: bounce 400ms ease forwards;

          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 73px;
            height: 12px;
            background-image: url("./images/map/pin-ground.icon.svg");
            background-repeat: no-repeat;
            background-size: contain;
          }

          .icon-pin {
            background-image: url("./images/map/pin-active.icon.svg");
            width: 48px;
            height: 56px;
          }
        }

        &-location {
          display: none;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -100%);
          box-sizing: border-box;
          background: rgba(60, 139, 210, 0.7);
          padding: 16px 40px 24px 40px;
          color: $neutral-0;
          font-family: $montserrat;
          font-size: rem(16);
          font-weight: 500;
          line-height: 140%;
          letter-spacing: rem(-0.32);
          border-radius: 2px;

          #{$pin}--active & {
            display: inline-block;
          }

          @media only screen and (max-width: 767px) {
            #{$pin}--british-virgin-islands & {
              left: 50%;
              transform: translate(-68%, -100%);

              &:after {
                left: 68%;
              }
            }
          }

          span {
            white-space: nowrap;
          }

          &:before {
            content: "";
            display: block;
            background-image: url("./images/map/countries/canada.icon.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 32px;
            height: 32px;
            margin: 0 auto 8px;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 4px 6.5px 0 6.5px;
            border-color: rgba(60, 139, 210, 0.7) transparent transparent
              transparent;
            transform: rotate(0deg) translate(-50%, 100%);
          }
        }
      }

      &--canada {
        right: 33%;
        top: 97.5vw;

        @media only screen and (min-width: 768px) {
          right: 21%;
          top: 55.8vw;
        }

        @media only screen and (min-width: 1025px) and (max-width: 1512px) {
          right: 24%;
          top: calc(11vh + 9.5vw);
        }

        @media only screen and (min-width: 1513px) {
          right: 24%;
          top: calc(7vh + 9.5vw);
        }
      }

      &--cayman-islands {
        right: 51.5%;
        top: 173vw;

        @media only screen and (min-width: 768px) {
          right: 32.5%;
          top: 104vw;
        }

        @media only screen and (min-width: 1025px) and (max-width: 1512px) {
          right: 32%;
          top: calc(26.4vh + 26.4vw);
        }

        @media only screen and (min-width: 1513px) {
          right: 32%;
          top: calc(21vh + 23vw);
        }
      }

      &--british-virgin-islands {
        right: 23.5%;
        top: 166.5vw;

        @media only screen and (min-width: 768px) {
          right: 15.5%;
          top: 99.5vw;
        }

        @media only screen and (min-width: 1025px) and (max-width: 1512px) {
          right: 21%;
          top: calc(24.5vh + 24.5vw);
        }

        @media only screen and (min-width: 1513px) {
          right: 21%;
          top: calc(20vh + 21.8vw);
        }
      }
    }
  }
}
