@import "./abstracts.init";

body {
  padding: 0;
  margin: 0;
  font-family: $ubuntu;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input[type="text"],
textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid $neutral-2;
  box-sizing: border-box;

  &::placeholder {
    color: $neutral-4;
    font-size: rem(14);
    font-family: $ubuntu;
  }
}

input[type="text"] {
  height: 56px;
  padding: 0 16px;
}

textarea {
  height: 209px;
  padding: 16px;
  resize: none;
}

.lds-ring {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ring span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
ol,
ul {
  margin: 0;
  padding: 0 0 0 24px;
}
.dd-number-list {
  counter-reset: item;
  counter-reset: listStyle;

  > dt {
    counter-increment: item;
    counter-increment: listStyle;
    margin-bottom: 16px;

    &:not(:first-child) {
      margin-top: 16px;
    }

    &:before {
      content: counter(listStyle, upper-alpha) ". ";
    }
  }

  > dd {
    counter-increment: item;
    margin-left: 16px;
    margin-bottom: 8px;

    &:before {
      content: counters(item, ".") ". ";
    }
  }
}
@keyframes bounce {
  0% {
    transform: translate(50%, 0);
  }
  20% {
    transform: translate(50%, 0);
  }
  70% {
    transform: translate(50%, 3px);
  }
  100% {
    transform: translate(50%, 0);
  }
}

.scroll-animate {
  transition: all 1000ms ease;
  opacity: 0;

  &__left-origin {
    transform: translateX(-50%);
  }

  &__bottom-origin {
    transform: translateY(50%);
  }
}

.section-visible {
  .scroll-animate {
    &__left-origin {
      transform: translateX(0);
      opacity: 1;
    }

    &__bottom-origin {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
