@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Open+Sans:wght@400;700&family=Ubuntu&display=swap");
.header-block {
  background-color: #0f1b2a;
  height: 64px;
}
@media only screen and (min-width: 768px) {
  .header-block {
    background-color: #051422;
    height: 72px;
  }
}